@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav {
    justify-content: space-between;
    padding-block: 8px;
}

.company-logo img {
    width: 120px;
}

.nav-links ul {
    gap: 16px;
}

.hover-link {
    cursor: pointer;
}

.hover-link:hover {
    color: var(--secondary-text-color);
}

.hover-link:active {
    color: red;
}

.nav-item.active {
    color: var(--accent-color);
}

.search-bar {
    height: 32px;
    gap: 8px;
}

.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto", sans-serif;
}

.search-button {
    background-color: var(--accent-color);
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

.search-button:hover {
    background-color: var(--accent-color-dark);
}

main {
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #f9fdff;
    transform: translateY(-2px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    margin-block: 12px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom:0;
    z-index:-1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width:100%;
        height:auto;
    }  
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width:auto;
        height:100%;
    }  
}

.heading{
    text-align: center;
    padding-top: 30px;
    font-size: 6rem;
    color:red;
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 100,
      "EHLT" 12;
}

#typing-effect{
    text-align: center;
}

.box{
    text-align: center;
}

span{
    font-size: 2rem;
    color:rgb(35, 247, 169)
}

.myImage {
    width: 150px;  
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
}

.box2{
    text-align:center;
}

h2{
    color:red
}

li{
    color:darkorange
}

button{
    background-color: #007BFF; /* Default background color */
    color: black; /* Text color */
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    height: 35px;
    background-color: chartreuse;
    border-radius: 10px;
}

.about-us{
    background-color: #f0f0f0;
    color:deeppink
}

.d1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    height: 600px;
}


@media (min-width: 600px) {
    .d1 {
        max-width: 80%;
    }
}
@media (min-width: 768px) {
    .d1 {
        max-width: 70%;
    }
}
@media (min-width: 992px) {
    .d1 {
        max-width: 60%;
    }
}
@media (min-width: 1200px) {
    .d1 {
        max-width: 50%;
    }
}

.back{
    text-align: center;
    font-size: 26px;
}

.bd3 {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to right, #9c5fff, #f410c6);
    min-height: 100vh; /* Ensure the background covers the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 {
    height:350px;
    width:600px;
    text-align: center;
    padding: 20px;
    border: 1px solid #000;
    background: white; /* Background for the box to stand out from gradient */
    border-radius: 10px;
}

.btn{
    font-size: 26px;
}

.bd2{
    background: linear-gradient(to right, #9c5fff, #f410c6);
    min-height: 100vh; /* Ensure the background covers the full viewport height */
}

#bold1{
    color:red;
}

.itallic{
    color:red;
    background-color: yellow;
}